<?xml version="1.0"?>
<!--
/**
 * @author comsolit AG team tw <info@comsolit.com>
 * @copyright Copyright (c) 2016 comsolit AG (http://www.comsolit.com)
 * @package Comsolit_RappenRunden
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <comsolit_rappenrunden>
            <general>
                <enable>0</enable>
            </general>
        </comsolit_rappenrunden>
    </default>
</config>