<?xml version="1.0"?>
<!--
/**
 * @author comsolit AG team tw <info@comsolit.com>
 * @copyright Copyright (c) 2016 comsolit AG (http://www.comsolit.com)
 * @package Comsolit_RappenRunden
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="comsolit" translate="label" sortOrder="100000">
            <label>Comsolit</label>
        </tab>
        <section id="comsolit_rappenrunden" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Rappen Runden</label>
            <tab>comsolit</tab>
            <resource>Comsolit_RappenRunden::comsolit_rappenrunden</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <!-- general enable module -->
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Rappen Runden</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Set to 'Yes' to enable this module. Default value = 'No'
                    </comment>
                </field>

            </group>
        </section>
    </system>
</config>