<?xml version="1.0"?>
<!--
/**
 * @author Tristan Weissmann <weissmann@comsolit.com>
 * @copyright Copyright (c) 2016 Comsolit AG (http://www.comsolit.com)
 * @package Comsolit_RappenRunden
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="comsolit" translate="label" sortOrder="999999">
            <label>Comsolit</label>
        </tab>
        <section id="comsolit_rappenrunden" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Rappen Runden</label>
            <tab>comsolit</tab>
            <resource>Comsolit_RappenRunden::comsolit_rappenrunden</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <!-- general enable module -->
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Rappen Runden</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Set to 'Yes' to enable this module. Default value = 'Yes'
                    </comment>
                </field>

                <!-- general currency list -->
                <field id="currencies" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apply to specific allowed Currencies</label>
                    <source_model>Comsolit\RappenRunden\Model\Config\Backend\Config</source_model>
                    <comment>
                        Select the currencies to which to apply the rounding. Default value = 'CHF'.
                        If you are not seeing your currency here, you need to enable it under
                        General -> Currency Setup -> Currency Options -> Allowed Currencies
                    </comment>
                </field>

                <!-- apply to where -->
                <field id="apply" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apply RappenRunden where</label>
                    <source_model>Comsolit\RappenRunden\Model\Config\Backend\ApplyWhere</source_model>
                    <comment>
                        Which output should be modified? Default value = 'All prices and totals'
                    </comment>
                </field>

            </group>
        </section>
    </system>
</config>